.checkbox-container {
  display: flex;
}

.checkbox {
  position: absolute;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 1rem;

  &::before {
    content: "\002714";

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 1.2em;

    @apply border-headerFooter bg-headerFooter text-headerFooter drop-shadow-pixel-sm border-2 transition-colors;
  }

  &:hover {
    cursor: pointer;

    &::before {
      @apply text-gray-400;
    }
  }
}

.checkbox[type="checkbox"]:checked + .checkbox-label::before {
  content: "\002714";

  @apply border-red-400 bg-red-400 text-white;
}

.checkbox[type="checkbox"]:checked + .checkbox-label,
.checkbox[type="checkbox"]:checked + .checkbox-label::before {
  animation: pop 200ms cubic-bezier(0.4, 0, 0.23, 1) forwards;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.checkbox[type="checkbox"]:disabled + .checkbox-label {
  @apply text-gray-400;

  &::before {
    content: "";
  }
}
