.checkbox {
  position: absolute;
  opacity: 0;

  &:hover {
    cursor: pointer;
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 1rem;

  &::before {
    content: "\002714";

    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 1.2em;

    @apply border-headerFooter bg-headerFooter text-headerFooter drop-shadow-pixel-sm border-2 transition-colors;
  }

  &:hover {
    cursor: pointer;

    &::before {
      @apply text-gray-400;
    }
  }
}

.checkbox[type="checkbox"]:checked + .checkbox-label::before {
  content: "\002714";

  @apply border-red-400 bg-red-400 text-white;
}
