@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?g74ker');
  src:  url('fonts/icomoon.eot?g74ker#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?g74ker') format('truetype'),
    url('fonts/icomoon.woff?g74ker') format('woff'),
    url('fonts/icomoon.svg?g74ker#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gnubash:before {
  content: "\e916";
  color: #4eaa25;
}
.icon-pocketbase:before {
  content: "\e917";
  color: #b8dbe4;
}
.icon-caddy:before {
  content: "\e918";
  color: #1f88c0;
}
.icon-astro:before {
  content: "\e919";
  color: #bc52ee;
}
.icon-angular:before {
  content: "\e91a";
  color: #dd0031;
}
.icon-blender:before {
  content: "\e91b";
  color: #f5792a;
}
.icon-docker:before {
  content: "\e91c";
  color: #1488c6;
}
.icon-markdown:before {
  content: "\e91d";
}
.icon-nextcloud:before {
  content: "\e91e";
  color: #0082c9;
}
.icon-raspberrypi:before {
  content: "\e91f";
  color: #c51a4a;
}
.icon-sass:before {
  content: "\e920";
  color: #c69;
}
.icon-svelte:before {
  content: "\e921";
  color: #ff3e00;
}
.icon-next-dot-js:before {
  content: "\e913";
}
.icon-typescript:before {
  content: "\e912";
  color: #007acc;
}
.icon-linkedin-white:before {
  content: "\e90e";
}
.icon-gmail-white:before {
  content: "\e90f";
}
.icon-android:before {
  content: "\e900";
  color: #3ddc84;
}
.icon-css3:before {
  content: "\e901";
  color: #1572b6;
}
.icon-git:before {
  content: "\e902";
  color: #f05032;
}
.icon-html5:before {
  content: "\e903";
  color: #e34f26;
}
.icon-java:before {
  content: "\e904";
  color: #007396;
}
.icon-javascript:before {
  content: "\e905";
  color: #f7df1e;
}
.icon-latex:before {
  content: "\e906";
  color: #008080;
}
.icon-linux:before {
  content: "\e907";
  color: #fcc624;
}
.icon-microsoftoffice:before {
  content: "\e908";
  color: #e74025;
}
.icon-python:before {
  content: "\e909";
  color: #3776ab;
}
.icon-spring:before {
  content: "\e90a";
  color: #6db33f;
}
.icon-gmail:before {
  content: "\e90b";
  color: #d14836;
}
.icon-linkedin:before {
  content: "\e90c";
  color: #0077b5;
}
.icon-react:before {
  content: "\e90d";
  color: #61dafb;
}
.icon-apache:before {
  content: "\e910";
  color: #d22128;
}
.icon-php:before {
  content: "\e911";
  color: #777bb4;
}
.icon-dart:before {
  content: "\e914";
  color: #0175c2;
}
.icon-flutter:before {
  content: "\e915";
  color: #02569b;
}
.icon-brave:before {
  content: "\e922";
  color: #fb542b;
}
.icon-brave-white:before {
  content: "\e923";
}
.icon-database:before {
  content: "\e964";
}
.icon-github-white:before {
  content: "\eab0";
}
