@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ier6uw');
  src:  url('fonts/icomoon.eot?ier6uw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ier6uw') format('truetype'),
    url('fonts/icomoon.woff?ier6uw') format('woff'),
    url('fonts/icomoon.svg?ier6uw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-next-dot-js:before {
  content: "\e913";
}
.icon-typescript:before {
  content: "\e912";
  color: #007acc;
}
.icon-linkedin-white:before {
  content: "\e90e";
}
.icon-gmail-white:before {
  content: "\e90f";
}
.icon-android:before {
  content: "\e900";
  color: #3ddc84;
}
.icon-css3:before {
  content: "\e901";
  color: #1572b6;
}
.icon-git:before {
  content: "\e902";
  color: #f05032;
}
.icon-html5:before {
  content: "\e903";
  color: #e34f26;
}
.icon-java:before {
  content: "\e904";
  color: #007396;
}
.icon-javascript:before {
  content: "\e905";
  color: #f7df1e;
}
.icon-latex:before {
  content: "\e906";
  color: #008080;
}
.icon-linux:before {
  content: "\e907";
  color: #fcc624;
}
.icon-microsoftoffice:before {
  content: "\e908";
  color: #e74025;
}
.icon-python:before {
  content: "\e909";
  color: #3776ab;
}
.icon-spring:before {
  content: "\e90a";
  color: #6db33f;
}
.icon-gmail:before {
  content: "\e90b";
  color: #d14836;
}
.icon-linkedin:before {
  content: "\e90c";
  color: #0077b5;
}
.icon-react:before {
  content: "\e90d";
  color: #61dafb;
}
.icon-apache:before {
  content: "\e910";
  color: #d22128;
}
.icon-php:before {
  content: "\e911";
  color: #777bb4;
}
.icon-database:before {
  content: "\e964";
}
.icon-github-white:before {
  content: "\eab0";
}
