@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "SfPixelate";
    src: url("/fonts/SfPixelate-wBgw.ttf");
}

@font-face {
    font-family: "Graph 35";
    src: url("/fonts/Graph-35-pix.ttf");
}

body {
    @apply scrollbar scrollbar-thumb-blended;

    ::selection {
        @apply bg-red-400 text-white;
    }
}

.my-link {
    @apply relative;

    &:hover {
        text-decoration: none;
    }

    &::after {
        @apply absolute left-0 bottom-0 block h-[1px] w-full origin-left scale-x-100 bg-[rgb(156,_163,_175)] transition-transform duration-[250ms] ease-in-out;
        content: "";
    }

    &:hover::after {
        @apply origin-right scale-x-0;
    }

    &[hover-info]::before {
        @apply absolute left-0 bottom-0 block whitespace-nowrap rounded-xl bg-black bg-opacity-50 p-[1em] text-[.8em] text-white;
        content: attr(hover-info);

        transform: scale(0);
        transition: transform ease-out 150ms, bottom ease-out 150ms;
    }

    &[hover-info]:hover::before {
        @apply bg-black bg-opacity-50;

        transform: scale(1);
        bottom: 100%;
    }
}

// @layer components {
.about {
    @apply relative z-10 m-4 min-h-[30vh];

    @screen md {
        @apply relative flex justify-center rounded-xl bg-black bg-opacity-50;
    }

    &-content {
        @apply p-6;

        @media (max-width: 768px) {
            @apply rounded-xl bg-black bg-opacity-50;
        }

        @screen md {
            @apply w-3/5;
        }
    }

    &-bg {
        @apply bg-cover bg-center;

        @media (max-width: 768px) {
            @apply absolute left-0 top-0 z-[-1] h-full w-full bg-[url('/images/ich_2_cropped_blurred.png')];

            clip-path: inset(0% round 0.75rem);
        }

        @screen md {
            @apply h-auto w-2/5 rounded-r-xl rounded-l-none bg-[url('/images/ich_2_cropped.png')];

            clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
            shape-outside: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
    }
}

.my-qualification {
    @apply relative;

    &[hover-info]::after {
        @apply font-SfPixelate absolute block whitespace-nowrap rounded-xl bg-black bg-opacity-50 p-[1em] text-center text-[.8rem] text-white;
        content: attr(hover-info);

        bottom: 0;
        left: 50%;
        transform: scale(0);
        transition: transform ease-out 150ms, bottom ease-out 150ms;
    }

    &[hover-info]:hover::after {
        @apply bg-black bg-opacity-50;

        transform: scale(1);
        transform: translateX(-50%);
        bottom: 100%;
    }
}

.bg-blurred {
    @apply absolute z-[-1] h-full w-full rounded-xl bg-cover;

    &-fg {
        @apply absolute z-[-1] h-full w-full rounded-xl bg-black bg-opacity-70;
    }
}
// }
